
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
    --green-color: rgb(36, 247, 36);
    --blue-color: hsl(228, 45%, 44%);
    --red-color: rgb(247, 36, 36);
    --yellow-color: rgb(247, 208, 36);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
}

body {
    background-color: #000;
    color: white;
}

/* Navbar section  */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 60px;
    padding: 20px
}

.nav-container  .container {
    display: flex;
    gap: 20px;
}

.nav-container .container .title .bolds{
    font-weight: 500;
    margin-left: 20px;
}

.title {
    font-family: "Sora", sans-serif;
    font-weight: 200;
    margin-right: 20px;
}

/* main container  */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 60px;
    padding: 20px;
    border-bottom: white solid 1px;
}

.main-container .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .container .section-content {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.main-container .container .lvl-container,
.main-container .container .mode-container {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.main-container .container .lvl-container .btn,
.main-container .container .mode-container .btn {
    margin-left: 20px;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: white solid 1px;
    border-radius: 8px;
}

.main-container .container .lvl-container .btn:hover,
.main-container .container .mode-container .btn:hover {
    color: var(--blue-color);
    border-color: var(--blue-color);
}

.main-container .container .lvl-container .btn.clicked,
.main-container .container .mode-container .btn.clicked {
    color: var(--blue-color);
    border-color: var(--blue-color);
}

.hero-content {
    width: 80%;
    height: 650px;
    margin: auto;
    overflow: auto;
    line-height: 2;
    font-size: 30px;
    margin-bottom: 20px;    
    padding: 30px;
    border-bottom: white solid 1px;

}

#user-input {
    opacity: 0;
}

.main-container .container .section-content .ty-wpm {
    color: var(--green-color);
}

.main-container .container .section-content .ty-accuracy {
    color: var(--red-color);
}

.main-container .container .section-content .ty-timer {
    color: var(--yellow-color);
}

#text-display::-webkit-scrollbar {
    width: 10px;              
}

#text-display::-webkit-scrollbar-track {
    background: #1e1e1e;     
    border-radius: 10px;       }

#text-display::-webkit-scrollbar-thumb {
    background: #4a4a4a; 
    border-radius: 10px;
    border: 2px solid #1e1e1e;
}

#text-display::-webkit-scrollbar-thumb:hover {
    background: #ffd700;      
}

/* for firebox */
#text-display {
    scrollbar-width: thin;
    scrollbar-color: #4a4a4a #1e1e1e;
}

#text-display {
    max-height: 450px; 
    overflow-y: auto; 
    position: relative;
    padding: 20px;
    line-height: 1.8;
}

.active {
    background-color: #4a4a4a;
    border-bottom: 2px solid #ffd700;
}

#text-display span {
    color: gray;
}

#text-display span.correct {
    color: var(--green-color);
}

#text-display span.incorrect {
    text-decoration: underline;
    color: var(--red-color);
}

/* modal box */
.modal {
    position: fixed;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 100%;
    position: absolute;
}

.modal .star-1 {
    position: relative;
    bottom: -50%;
    left: 40%;
}

.modal .star-2 {
    position: relative;
    top: -10%;
    left: -30%;
}

.modal .correctImg {
    margin-bottom: 50px;
}

.modal .descBar {
    color: gray;
    margin-bottom: 30px;
}

.modal .container .section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.modal .container .section-content .card {
    width: 150px;
    height: 80px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0 20px;
    list-style-type: none;
    padding: 20px;
}

.modal .container .section-content .card .title {
    font-family: "Sora", sans-serif;
    font-weight: 400;
    text-align: center;
    color: gray;
}

.modal .restart-btn {
    background-color: white;
    border-radius: 15px;
    border: none;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.modal .restart-btn:hover {
    box-shadow: 0 0 20px var(--green-color);
}

#final-wpm {
    color: var(--yellow-color);
}

#final-accuracy {
    color: var(--red-color);
}

#final-cha {
    color: var(--green-color);
}

.hidden {
    display: none;
}

/* Challenge By */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--blue-color);
}